#game {
  position: relative;
  text-align: center;
}

.gameboard {
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 10px gold, inset 0 0 0 20px white,
    inset 0 0 0 40px #4c11ac, inset 0 0 0 50px yellow, inset 0 0 0 65px #8f6cf2,
    inset 0 0 0 75px yellow;
}

.neon {
  position: absolute;
  border-radius: 50%;
  height: 150px;
  width: 120px;
}

.blueNeon {
  bottom: 18%;
  right: 50%;
  transform: translateX(50%);
  box-shadow: 0 0 20px 5px #2356ff, inset 0 0 20px 5px #2356ff;
  border: 10px solid #426dfb;
}

.redNeon {
  left: 23%;
  bottom: 44%;
  transform: rotate(120deg);

  box-shadow: 0 0 20px 5px red, inset 0 0 20px 5px red;
  border: 10px solid tomato;
}

.greenNeon {
  right: 23%;
  bottom: 44%;
  transform: rotate(240deg);
  box-shadow: 0 0 20px 5px limegreen, inset 0 0 20px 5px limegreen;
  border: 10px solid #39ff14;
}

.off {
  box-shadow: 0 0 10px slategrey, inset 0 0 10px slategrey;
  border: 10px solid lightslategrey;
}

#bulbs {
  top: 230px;
  margin: 0 auto;
  right: 15px;
  height: 100px;
  width: 100px;
  left: -60px;
  position: relative;
}

.bulb {
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: lightslategrey;
  margin: 2rem;

  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.bulb.chosen {
  background-color: red;
  box-shadow: 0 0 20px 5px red;
}

.bulb.active {
  background-color: #fff35c;

  box-shadow: 0 0 40px 5px #fff35c;
}

.user-input {
  display: inline-block;
  padding: 10px 20px;
}

.user-input label {
  display: block;
}

input[type="number"] {
  width: 50px;
}

#blink-speed {
  direction: rtl;
}

#back_to_games {
  margin-top: 5rem;
}

/*group project addition */

#overlay {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0px;
  left: 5%;
  /* height: 550px; */
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 2;
}

.popup {
  background-color: #200d54;
  border-radius: 25px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  width: 90vw;
  min-height: 35vh;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 2%;
  color: rgb(255, 255, 255);
}

.btn-text2 {
  font-family: "Baloo Da 2", cursive;
  padding: 5px;
  color: rgb(255, 255, 255);
  background-color: #8f6cf2;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

#saveScore {
  padding: 5px;
  visibility: hidden;
}

#playerName {
  font-family: "Press Start 2P", cursive;
  padding: 5px;
  visibility: hidden;
}

#SaveNameScore {
  padding: 5px;
  visibility: hidden;
}

#scoreSaveMsg {
  visibility: hidden;
}

@media (max-width: 576px) {
  .bulb {
    height: 25px;
    width: 25px;
    margin: 0.5rem;
  }

  .bulb.chosen {
    background-color: red;
    box-shadow: 0 0 10px 0px red;
  }

  .bulb.active {
    background-color: #fff35c;

    box-shadow: 0 0 20px 5px #fff35c;
  }

  #game {
    position: relative;
    text-align: center;
    max-width: 250px;
    /* margin-left: -80px; */
  }

  #bulbs {
    top: 230px;
    margin: 0 auto;
    /* right: 15px; */
    height: 25px;
    width: 25px;
    left: -15px;
    position: relative;
  }

  .gameboard {
    width: 420px;
    height: 420px;
    top: 160px;
  }

  .neon {
    width: 80px;
    height: 100px;
  }

  .blueNeon {
    bottom: 23%;
  }

  .popup {
    width: 80vw;
  }
}
