* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color-1: #4c11ac;
  --primary-color-2: #8f6cf2;
  --primary-color-3: #200d54;
  --main-font-color: white;
  --menu-header-font: "Baloo Da 2", cursive;
  --game-button-font: "Baloo Da 2", cursive;
  --content-font: "Baloo Paaji 2", cursive;
  --background-url: url(/images/index/test_space_invader_transparency10.png);
}

body {
  background-color: var(--primary-color-1);
}

/********** Header and navigation *************/

header {
  min-height: 100px;
  max-height: 15vh;
  /* min-width: 500px; */
  background-color: var(--primary-color-1);
  color: var(--main-font-color);
  font-family: var(--menu-header-font);
  display: flex;
}

.logo {
  width: 200px;
  padding: 25px;
  flex: 1;
  z-index: 0;
  background-color: var(--primary-color-1);
}

nav {
  /* min-width: 400px; */
  font-family: var(--menu-header-font);
  font-size: x-large;
  text-align: right;
  background-color: var(--primary-color-1);
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  position: relative;
}

nav li {
  display: inline-block;
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
  color: var(--main-font-color);
  /* padding-top: 30px; */
  /* padding-left: 35px; */
}

#mobileButton {
  display: none;
}

.fa-chevron-down {
  font-size: large;
}

.menu_games:hover .dropdown-content {
  visibility: visible;
}

.dropdown-content {
  position: absolute;
  width: 200px;
  height: 280px;
  background-color: var(--primary-color-1);
  display: flex;
  flex-direction: column;
  font-family: var(--content-font);
  font-size: large;
  right: 0;
  top: 70px;
  padding: 0px;
  margin: 0;
  text-align: right;
  visibility: hidden;
  z-index: 1;
}

.dropdown-content li {
  display: block;
  padding: 1.5rem 2rem 0.5rem 0.5rem;
}

.dropdown-content-mobile {
  display: none;
  visibility: hidden;
  z-index: 1;
}

.dropdown-item:hover {
  background-color: var(--primary-color-2);
  color: var(--primary-color-3);
}

.section_divider {
  height: 10px;
  width: 100%;
  background-color: var(--primary-color-2);
}
/************* Main content area *************/

main {
  background-color: var(--primary-color-3);
  color: var(--main-font-color);
  font-family: var(--content-font);
  /* flex: 18fr; */
  background-image: var(--background-url);
  margin: 0 auto;
}

.section_header_wrapper h1 span {
  background: #221d60;
}

.section_header_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--menu-header-font);
  padding-top: 2rem;
  padding-left: 2rem;
}

section {
  opacity: 100%;
  max-width: 1200px;
  min-height: 600px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 30px;
}

.big_box {
  background-color: var(--primary-color-3);
  width: 100%;
  min-height: 600px;
  border-radius: 25px;
  border-color: var(--primary-color-2);
  border-width: 3px;
  border-style: solid;
  color: var(--main-font-color);
  /* margin: 1rem; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 0px 10px rgb(104, 101, 101);
  margin: 0 auto;
}

.big_box_header {
  position: relative;
  width: 100%;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  /* margin: 0 auto; */
}

.big_box_body {
  width: 100%;
  flex: 5;
}

.big_box_footer {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------- Button styles ----------
These are the styles of the game page buttons: start game, stop game, save score, see leaderboard, information-instructions, popup close.
*/
.gamepage_button {
  background-color: var(--primary-color-2);
  width: 200px;
  height: 40px;
  border-radius: 25px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  color: var(--main-font-color);
  padding-top: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--game-button-font);
  text-transform: uppercase;
  cursor: pointer;
}

.info_button {
  position: absolute;
  top: 0;
  background-color: var(--primary-color-2);
  width: 40px;
  height: 40px;
  border-radius: 25px;
  border-color: white;
  border-width: 5px;
  border-style: solid;
  color: var(--main-font-color);
  padding-top: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: var(--game-button-font);
  font-weight: bolder;
  cursor: pointer;
  z-index: 2;
}

#soundSettings {
  right: 0;
  z-index: 0;
}
.sound-button {
  background-color: transparent;
  border-radius: 50%;
  border: none;
  width: 100%;
  height: 100%;
  color: white;
  padding-bottom: 2px;
  cursor: pointer;
}
#soundOn,
#soundOff {
  display: none;
}

.popup_close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--primary-color-2);
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  color: var(--main-font-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button_hover:hover {
  background-color: var(--primary-color-1);
}

.share-btn button {
  margin: 1rem;
  border-radius: 3px;
  color: white;
  padding: 8px 10px;
  border: none;
  font-weight: 600;
}

.share-btn button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.share-btn button:active {
  transform: scale(0.95);
}

.share-fb {
  background-color: #4267b2;
}

.share-twitter {
  background-color: #1da1f2;
}

a {
  text-decoration: none;
}

/* -------- Here ends the button styles -----------*/

/* -----Popup windows stlyes: small for results and large for instructions ------ */
.popup_base {
  background-color: var(--primary-color-3);
  border-radius: 25px;
  border-color: white;
  border-width: 3px;
  border-style: solid;
  color: var(--main-font-color);
  /* margin: 1rem; */
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  box-shadow: 0px 0px 10px rgb(104, 101, 101);
  /* margin: 0 auto; */
  visibility: hidden;
}

.pop_small {
  position: relative;
  /* top:-25%; */
  /* left: 20%; */
  width: 60%;
  min-height: 300px;
}

.pop_large {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  max-width: 1100px;
  height: 515px;
  height: 515px;
  visibility: hidden;
  justify-content: center;
  z-index: 999;
}

.popup_title h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#small_pop {
  /* change the value of display to 'flex' to show the small popup */
  display: none;
}

/* This class is added to the large popup to display it */
.show {
  visibility: visible;
}

#back_to_games a {
  color: white;
  text-decoration: none;
  z-index: 2;
}

/* -------- Here ends the button styles -----------*/

/****************** Footer **************/

footer {
  background-color: var(--primary-color-1);
  color: var(--main-font-color);
  font-family: var(--content-font);
  display: flex;
  margin-bottom: 1rem;
}

.left_box {
  flex: 1;
  padding-left: 2rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.footer_left_top {
  display: flex;
  flex-direction: column;
}

.footer_leftdown {
  font-size: xxx-large;
  padding-right: 10px;
}

.right_box {
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  padding-right: 2rem;
  padding-top: 1rem;
}

footer a {
  text-decoration: none;
  color: var(--content-font);
}

.footer_menu {
  list-style: none;
}

/* Adaptions for mobile */

@media (max-width: 576px) {
  #mobileButton {
    display: block;
  }

  #large_screen_menu {
    display: none;
  }

  nav.responsive ul {
    display: block;
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
  }

  section {
    flex-direction: column;
    align-items: center;
  }

  nav {
    display: flex;
  }

  .box {
    width: 80%;
  }

  .dropdown-content {
    top: 100px;
    background-color: aqua;
  }

  .dropdown-content-mobile {
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: var(--primary-color-1);
    display: flex;
    flex-direction: column;
    font-family: var(--content-font);
    font-size: large;
    right: 0;
    top: 70px;
    padding-right: 20px;
    margin: 0;
    text-align: right;
    z-index: 1;
  }

  .dropdown-content-mobile li {
    display: block;
  }

  .show {
    visibility: visible;
  }

  #mobile-menu-leaderbord {
    font-weight: bold;
  }
  #mobile-menu-games {
    font-weight: bold;
  }
}
