section {
  opacity: 100%;
  max-width: 1200px;
  min-height: 600px;
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
}

.big_box {
  background-color: var(--primary-color-3);
  width: 100%;
  /*height: 600px;*/
  border-radius: 25px;
  border-color: var(--primary-color-2);
  border-width: 3px;
  border-style: solid;
  color: var(--main-font-color);
  /* margin: 1rem; */
  padding: 1rem;
  display: block;
  /* align-items: flex-start;
    justify-content: center; */
  /*text-align: center;*/
  box-shadow: 0px 0px 10px rgb(104, 101, 101);
}
/* Footer */

footer {
  height: 15vh;
  background-color: var(--primary-color-1);
  color: var(--main-font-color);
  font-family: var(--content-font);
  display: flex;
  margin-bottom: 1rem;
}

.left_box {
  flex: 1;
  padding-left: 2rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.footer_left_top {
  display: flex;
  flex-direction: column;
}

.footer_leftdown {
  font-size: xxx-large;
  padding-right: 10px;
}

.right_box {
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  padding-right: 2rem;
  padding-top: 1rem;
}

footer a {
  text-decoration: none;
  color: var(--content-font);
}

.footer_menu {
  list-style: none;
}

/*tables */
table,
td,
th {
  border: 1px solid seashell;
  padding: 0.3rem;
}

table {
  border-collapse: collapse;
  margin-top: 1rem;
}

th {
  width: 100px;
  text-align: center;
}

td {
  text-align: center;
}

#leadBoardResults {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tableArea {
  min-width: 300px;
  text-align: left;
  margin: 20px 10px;
}
