.big_box_body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/**************** Setting  ****************/

.settings {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem;
  justify-content: center;
}

.user-input {
  display: inline-block;
  margin: 0 1rem;
}

.user-input label {
  cursor: pointer;
}

/**************** Game Buttons ****************/

.circles {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ff0;
  box-shadow: 0 0 20px 5px #cf0, inset 0 0 10px 5px #333;
  border: 8px outset #eee;
  margin: 1rem;
  cursor: pointer;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

button:focus {
  outline: none;
}

.inactive {
  background-color: lightslategrey;
  border: 8px outset #aaa;
  box-shadow: inset 0 0 10px 5px #333;
}

#start,
#stop {
  grid-area: "a";
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

#stop {
  display: none;
}

#overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

h2 {
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .user-input {
    display: block;
    margin: 0 1rem;
  }
}

/* Group project additions */
#saveScore {
  padding: 5px;
  visibility: hidden;
}

#playerName {
  padding: 5px;
  visibility: hidden;
}

#SaveNameScore {
  padding: 5px;
  visibility: hidden;
}

#scoreSaveMsg {
  visibility: hidden;
}
