* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #aedcea;
  height: 100%;
  font-family: "Press Start 2P", "Courier New", Courier, monospace;
  text-align: center;
  line-height: 1.8rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 90vh;
  justify-content: center;
}

h1 {
  color: #ffcb05;
  text-shadow: -4px 0 #3c5aa6, 0 4px #3c5aa6, 4px 0 #3c5aa6, 0 -4px #3c5aa6;
  margin-bottom: 1rem;
}

/**************** Setting Buttons ****************/

.settings {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem;
  justify-content: center;
}
.icon {
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  cursor: pointer;
}

.btn-icon {
  background-color: transparent;
  border: none;
}

#soundOn {
  display: none;
}

#soundOff {
  display: none;
}

.btn-icon-cog {
  transition: transform 0.2s ease-in-out;
  display: none;
}

.btn-icon-cog:hover {
  transform: rotate(30deg);
}

.user-input {
  display: inline-block;
  margin: 0 1rem;
}

.user-input label {
  cursor: pointer;
}

.input-lvl {
  height: 0;
  width: 0;
}

.input-lvl:checked {
  position: relative;
}

.input-lvl:checked::after {
  content: "";
  position: absolute;
  display: block;
  border-left: 12px solid black;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  right: 0;
  bottom: 0;
}

/**************** Game Buttons ****************/

.circles {
  width: 100%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  margin: 1rem;
  cursor: pointer;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

button:focus {
  outline: none;
}
.bulbasaur {
  background-image: url("./images/bulbasaur.png");
}
.charmander {
  background-image: url("./images/charmander.png");
}

.squirtle {
  background-image: url("./images/squirtle.png");
}

.pikachu {
  background-image: url("./images/pikachu.png");
}

.active {
  background-color: tomato;
}

.inactive {
  background-image: radial-gradient(
      white 10%,
      black 11%,
      black 15%,
      transparent 16%
    ),
    linear-gradient(0deg, white 45%, black 45%, black 55%, red 55%);
}

#start,
#stop {
  grid-area: "a";
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

#stop {
  display: none;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.popup {
  background-color: white;
  border-radius: 15px;
  width: 90vw;
  height: 50vh;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 2%;
}

h2 {
  margin-bottom: 1rem;
}

#close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: white;
  font-size: 1.5rem;
}

.btn-text {
  font-family: "Press Start 2P", cursive;
}

.btn-text:hover {
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 576px) {
  html {
    font-size: 14px;
  }
  .container {
    justify-content: start;
    margin-top: 5vh;
  }
  .settings {
    flex-flow: row wrap;
    width: 50%;
    justify-content: center;
    margin: 1rem;
  }

  .btn-icon {
    margin: 0.5rem;
  }

  .btn-icon-cog {
    display: block;
  }

  .levels-setting {
    display: none;
  }

  .responsive {
    display: block;
  }
}

/* Group project additions */
#saveScore{
  padding:5px;
  visibility: hidden;
}

#playerName{
  font-family: "Press Start 2P", cursive;
  padding:5px;
  visibility: hidden;
}

#SaveNameScore{
  padding:5px;
  visibility: hidden;
}

#scoreSaveMsg{
  visibility: hidden;
}