* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: blueviolet;
  color: white;
  
}

.container {
  
 
  margin: 0 auto;
  
}
#game {
  text-align: center;
}

#bulbs {
  top: 230px;
  margin: 0 auto;
  right: 15px;
  height: 500px;
  width: 500px;
  position: relative;
}

.bulb {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: blue;
  margin: 5px;
  display: inline-block;
  border-radius: 50%;
  -webkit-transition: background-color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
}

.bulb.chosen {
  border: 3px solid red;
}

.bulb.active {
  background-color: yellow;
}

.user-input {
  display: inline-block;
  padding: 10px 20px;
}

.user-input label {
  display: block;
}

input[type="number"] {
  width: 50px;
}

#blink-speed {
  direction: rtl;
}

/*group project addition */

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index:2;
}

.popup {
  background-color: white;
  border-radius: 15px;
  width: 90vw;
  height: 50vh;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 2%;
  color: black;
}

#close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background-color: white;
  font-size: 1.5rem;
}

.btn-text {
  font-family: "Press Start 2P", cursive;
  padding:5px;
}

.btn-text:hover {
  color: rgba(0, 0, 0, 0.7);
}

#saveScore{
  padding:5px;
  visibility: hidden;
}

#playerName{
  font-family: "Press Start 2P", cursive;
  padding:5px;
  visibility: hidden;
}

#SaveNameScore{
  padding:5px;
  visibility: hidden;
}

#scoreSaveMsg{
  visibility: hidden;
}