body {
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}
.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slot-machine {
  display: flex;
}

.wheel {
  width: 254px;
  height: 544px;

  display: inline-block;
}

.result-0 {
  background-image: url("./img/7.png");
}

.result-1 {
  background-image: url("./img/r.png");
}

.result-2 {
  background-image: url("./img/pikachu.png");
}

.result-3 {
  background-image: url("./img/duck.png");
}

.result-4 {
  background-image: url("./img/magnet.png");
}

.result-5 {
  background-image: url("./img/shell.png");
}

.result-6 {
  background-image: url("./img/pokeball.png");
}

.spinning {
  background-image: url("./img/spinning.gif");
}
.user-input {
  width: 254px;
  height: 544px;
}

#lever {
  width: 250px;
  height: 20px;
  margin: 0 auto;
  transform: rotate(-90deg);
  margin-top: 300px;
}

/** Code from https://www.cssportal.com/style-input-range/ to stlye lever**/

input[type="range"] {
  height: 88px;
  background-color: #000000;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 200%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #ffdd00;
  border-radius: 50px;
  border: 0px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #ff0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -18px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffdd00;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #ffdd00;
  border-radius: 50px;
  border: 0px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #ff0000;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #ffdd00;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #ffdd00;
  border: 0px solid #010101;
  border-radius: 100px;
  box-shadow: 1px 1px 1px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001e;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background: #ff0000;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #ffdd00;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ffdd00;
}
